<% include ../shared/header %>

<section class="color1">
	<h1><%- title %></h1>

	<nav>
		<span class="periods">
			<%- optionalAnchorTag('Daily', '/highscore/daily/' + timeperiod.startDate + '/' + timeperiod.endDate, currentHref) %>
			<%- optionalAnchorTag('Weekly', '/highscore/weekly/' + timeperiod.startDate + '/' + timeperiod.endDate, currentHref) %>
			<%- optionalAnchorTag('Monthly', '/highscore/monthly/' + timeperiod.startDate + '/' + timeperiod.endDate, currentHref) %>
			<%- optionalAnchorTag('Yearly', '/highscore/yearly/' + timeperiod.startDate + '/' + timeperiod.endDate, currentHref) %>
			<%- optionalAnchorTag('All time', '/highscore/all-time', currentHref) %>
		</span>
	<% if (timeperiod.grouping !== 'all-time') { %>
			<input type="date" name="startDate" value="<%= timeperiod.startDate %>" onchange="BugHunterGame.changeDate(this.value, ['<%= timeperiod.grouping %>', '<%= timeperiod.startDate %>', '<%= timeperiod.endDate %>'], 1)">
			<input type="date" name="endDate" value="<%= timeperiod.endDate %>" onchange="BugHunterGame.changeDate(this.value, ['<%= timeperiod.grouping %>', '<%= timeperiod.startDate %>', '<%= timeperiod.endDate %>'], 2)">
	<% } %>
	</nav>
</section>

<section>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>User</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<% scoreList.forEach(function (scoreRow) { %>
				<tr>
					<td><%= scoreRow.timevalueToDisplay %></td>
					<td><%= scoreRow.username %></td>
					<td><a href="/updates/<%= scoreRow.username %>/<%= scoreRow.periodStartDate %>/<%= scoreRow.periodEndDate %>"><%= scoreRow.points %> points</a></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</section>

<% include ../shared/footer %>