<% include ../header %>

<h1><%- title %></h1>

<% if (updates.length) { %>
	<ul>
		<% updates.forEach(function (update) { %>
			<li>
				<strong><%= update.username %></strong>
				<%= update.points %> points
				(<%= update.action %>, <%= formatDate(update.created_at) %>, <%= update._id %>)
			</li>
		<% }) %>
	</ul>
<% } %>

<% include ../footer %>