<% include ../header %>

<h1><%- title %></h1>

<% if (updates.length) { %>
	<ul>
		<% updates.forEach(function (update) { %>
			<li>
				<%= formatDate(update.created_at) %>:
				<strong><%= update.username %></strong>
				<%= update.action %>
				<%= update.points %>
			</li>
		<% }) %>
	</ul>
<% } %>

<% include ../footer %>