<% include ../shared/header %>

<section class="color1">
	<h1><%- title %></h1>
</section>

<section>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>User</th>
				<th>Issue</th>
				<th>Action</th>
				<th>Labels</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<% bugUpdates.forEach(function (bugUpdate) { %>
				<tr>
					<td><a title="<%= bugUpdate._id %>"><%= formatDate(bugUpdate.created_at) %></a></td>
					<td><%= bugUpdate.username %></td>
					<td><a href="<%= bugUpdate.bug.url %>" target="github"><%= bugUpdate.bug.title %></a></td>
					<td><%= bugUpdate.action %></td>
					<td><%= bugUpdate.bug.labels.join(', ') %></td>
					<td><%= bugUpdate.points %> points</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</section>

<% include ../shared/footer %>